{% extends 'page.html' %} {% block content %}

<div class="row">
  <div class="col-md-4 mx-auto">
    <br />
    <h1 class="">Ask a Question</h1>
    <hr />
    <br/>
    <form action="/webapp/question/new" method="POST">
      <div class="form-group">
        <input
          type="text"
          name="title"
          class="form-control input-lg"
          placeholder="Enter your title"
          required
        />
        <input
          type="text"
          name="description"
          class="form-control input-lg"
          placeholder="Enter your description"
          required
        />
      </div>
      <input
        type="submit"
        value="Ask Question"
        class="btn btn-secondary btn-lg btn-block"
      />
    </form>
    </div>
</div>
{% endblock %}
