{% extends 'page.html' %} {% block content %}

<div class="row">
  <div class="col-md-6 mx-auto">
    <br />
    <h1 class="login-header justify-content-center">Login</h1>
    <hr />
    {% import 'flash.html' as flash %} {{ flash.render() }}
    <form action="/webapp/auth/signup" method="POST">
      <div class="form-group">
        <input
          type="firstname"
          name="text"
          class="form-control input-lg md-3"
          placeholder="Enter your First Name"
          required
        />
        <input
          type="lastname"
          name="text"
          class="form-control input-lg md-3"
          placeholder="Enter your Last Name"
          required
        />
        <input
          type="username"
          name="text"
          class="form-control input-lg md-3"
          placeholder="Enter your User Name"
          required
        />
        <input
          type="email"
          name="email"
          class="form-control input-lg md-3"
          placeholder="Enter your email"
          required
        />
        <input
          type="password"
          name="password"
          class="form-control input-lg md-3"
          placeholder="Enter your password"
          required
        />
      </div>
      <input
        type="submit"
        value="Sign Up"
        class="btn btn-secondary btn-lg btn-block"
      />
    </form>
    <a class="signup-link" href="{{ url_for('auth.login') }}"
      >Already have an account? sign in Here!</a
    >
    <div class="footer"></div>
  </div>
</div>
{% endblock %}
